---
layout: default
---

<div class="home">
  <head>
      <title> Saeed Odak </title>
  </head>
  <div class="home-title">
    <div class="post-back">
      <a class="black-link" href="/"> ← Home </a>
    </div>
    <p class="home-heading">{{ }}</p>
    <p class="home-sub-heading">{{- escape -}}</p>
  </div>

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
      {% for post in site.posts  %}
      <li>
          <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">
            {{ post.date | date: date_format }}
          </span>
      </li>
      {% endfor %}
  </ul>
  {%- endif -%}
</div>
