---
layout: default
---

<div class="home">
  <head>
      <title> Saeed Odak </title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }
    td:nth-child(2) {
        text-align: right;
    }
  </style>
  </head>
  <div class="home-title">
    <div class="post-back">
      <a class="black-link" href="/"> ← Home </a>
    </div>
    <p class="home-heading">{{ }}</p>
    <p class="home-sub-heading">{{- escape -}}</p>
  </div>

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
      {% for post in site.posts  %}
      <li>
          <table>
            <tr>
              <th>
                <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
              </th>
              <th>
                {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">
                     {{ post.date | date: date_format }}
                </span>
              </th>
            </tr>
          </table>
      </li>
      {% endfor %}
  </ul>
  {%- endif -%}
</div>
