<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta name="viewport" content="width=1024"> -->
<title>Saeed Odak</title>
<link rel="stylesheet" type="text/css" href="./files/stylep.css">


</head>

<body>

<div class="row">
	<div class="column">
		<h1>Saeed Odak</h1>

		<p> I am a second-year PhD student in the <a href="https://cglab.ca">Computational Geometry Group</a> at the University of Ottawa, advised by <a href="https://jitbose.ca"> Prosenjit Bose </a>, <a href="https://cglab.ca/~morin"> Pat Morin </a>, and <a href="https://cglab.ca/~vida"> Vida Dujmović </a>. </p>

		<p> My research interests are in Discrete and Computational Geometry, Algorithms and Data Structurs, Combinatorics, and Graph Theory.</p>
		

	</div>
  
	<div class="column">
		<img src="/img/bunny_avatar.png" align="center">
	</div>
</div>

[ <a color="saeed.odak@gmail.com"> Saeed.Odak@gmail.com </a> ][ <a color="sodak@uottawa.ca"> SOdak@uottawa.ca </a> ][<a href="/about"> publications </a>][<a href="/posts"> cv </a>][<a href="https://github.com/saeedodak"> GitHub </a>]

</body>
</html>

