<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <meta name="viewport" content="width=1024"> -->
<title>Saeed Odak</title>
<link rel="stylesheet" type="text/css" href="./files/stylep.css">


</head>

<body>

<div class="row">
	<div class="column">
		<h1>Saeed Odak</h1>

		<p> I am a fourth-year PhD student in the <a target="_blank" href="https://cglab.ca">Computational Geometry Group</a> at the University of Ottawa, advised by <a target="_blank" href="https://cglab.ca/~jit"> Prosenjit Bose </a>, <a target="_blank" href="https://cglab.ca/~morin"> Pat Morin </a>, <a target="_blank" href="https://people.scs.carleton.ca/~michiel/"> Michiel Smid </a>, <a target="_blank" href="https://people.scs.carleton.ca/~maheshwa/"> Anil Maheshwari </a>, <a target="_blank" href="https://cglab.ca/~jdecaruf"> Jean-Lou De Carufel </a>, and <a target="_blank" href="https://cglab.ca/~vida/"> Vida Dujmović </a>. </p>

		<p> My research interests are in Algorithms, Graph Theory, and Geometry.</p>
		

	</div>
  
	<div class="column">
		<img src="/img/bunny_avatar.png" align="center">
	</div>
</div>

[<a color="saeed.odak@gmail.com"> Saeed.Odak@gmail.com </a>][<a href="https://dblp.org/pid/314/6093.html"> publications </a>][<a href="/cv.pdf"> cv </a>][<a target="_blank" href="/misc"> misk </a>]
<!-- [<a href="/reading-list"> reading list </a>] -->

</body>
</html>

